* {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "bio"
    "projects"
    "footer";
}

.bio {
  grid-area: bio;
  background-image: linear-gradient(176deg, #25bec8 70%, white calc(70% + 2px));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 6rem 1.8rem;
}

.icons i {
  margin: 0.4rem;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 90%;
  max-width: 20rem;
}

.bio img {
  display: block;
  width: 90%;
  max-width: 20rem;
  height: auto;
  object-fit: cover;
  box-shadow: 5px 5px 5px black;
}

.name {
  width: 90%;
  max-width: 16rem;
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-55%, -50%);
  text-align: center;
  color: white;
}

.bio-writeup {
  background-color: white;
  width: 100%;
  height: auto;
  padding: 1.2rem 2.4rem 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  box-shadow: 10px 10px 10px black;
  margin-left: -3rem;
}

.bio-writeup .icons {
  display: flex;
  justify-content: end;
}

.projects {
  grid-area: projects;
  display: grid;
  grid-template-areas: "a a";
  align-items: center;
  justify-items: center;
  gap: 1.2rem;
  padding: 1.2rem 1.2rem 6rem;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  max-width: 15rem;
  box-shadow: 0 0 10px #dbdbdb;
  padding: 1.2rem;
}

.project-heading {
  display: flex;
  justify-content: space-between;
}

.project-icons {
  margin-top: 0.2rem;
}

.project img {
  width: 10rem;
  height: auto;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
  max-width: 30rem;
}

.right {
  grid-column-start: 2;
  text-align: center;
}

footer {
  grid-area: footer;
  background-color: #25bec8;
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.2rem;
}

footer img {
  width: 80%;
  max-width: 50rem;
  height: auto;
}

.align-icons {
  display: flex;
  gap: 0.6rem;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 800px) {
  body {
    width: 90vw;
    max-width: 100%;
    height: 90vh;
    overflow-x: hidden;
  }

  .bio,
  .projects
  .footer{
    width: 550px;
  }

  footer {
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  body {
    width: 90vw;
    max-width: 100%;
    height: 90vh;
    overflow-x: hidden;
  }

  .bio,
  .projects
  .footer{
    width: 250px;
  }

  .projects {
    grid-template-areas: "a";
  }

  .bio {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bio-writeup {
    margin: 0;
  }

  footer {
    flex-direction: column;
  }
}